; -*- mode: clojure; -*-
; vim: filetype=clojure

; Riemann kafka consumer

(logging/init {:file "riemann.log"})

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(let [index (index)]
  ; Inbound events will be passed to these streams:
  (streams
    (default :ttl 60
      ; Index all events immediately.
      index

      ; Log expired events.
      (expired
        (fn [event] (info "expired" event))))))


(def graph
  (graphite {:host "carbon-clickhouse"}))

(kafka-consumer {:consumer.config {:bootstrap.servers "kafka:9092"
                                   :group.id "metrics"}
                 :topics ["metrics"]})

(streams
  graph)
