; -*- mode: clojure; -*-
; vim: filetype=clojure

; Riemann frontend configuration

(logging/init {:file "riemann.log"})

(graphite-server {:port 3003})

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(let [index (index)]
  ; Inbound events will be passed to these streams:
  (streams
    (default :ttl 60
      ; Index all events immediately.
      index

      ; Log expired events.
      (expired
        (fn [event] (info "expired" event))))))


(def kafka-output (kafka {:bootstrap.servers "127.0.0.1:9092"}))

(streams
  (kafka-output "metrics"))
